n8n/03_execute_next_task.json
{
  "name": "03_execute_next_task",
  "nodes": [
    {
      "parameters": {},
      "id": "Trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// In a real setup, read state/tasks.jsonl and choose next runnable task.\nreturn [{ task: { id: \"TASK-001\", title: \"Example\", status: \"Planned\", priority: \"P2\", type: \"Code\", inputs: {}, acceptanceCriteria: [\"example\"] }, context: \"\" }];\n"
      },
      "id": "Resume",
      "name": "Function (next runnable)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "options": {},
        "method": "POST",
        "jsonParameters": true,
        "sendHeaders": true,
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$env.OPENAI_API_KEY}}\",\"Content-Type\":\"application/json\"}",
        "bodyParametersJson": "{\"model\": \"gpt-5-nano\", \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"@docs/prompts/system.md\"}, {\"role\": \"user\", \"content\": \"You are given a runnable Task (JSON) and repo context. Use allow-listed tools only. Output a ReturnEnvelope JSON. Task: {{$json.task}} Context: {{$json.context}}\"}]}"
      },
      "id": "Agent",
      "name": "HTTP (OpenAI nano)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "schema": {
          "value": "file",
          "file": "specs/ReturnEnvelope.schema.json"
        },
        "data": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}"
      },
      "id": "Validate Envelope",
      "name": "JSON Schema",
      "type": "n8n-nodes-base.jsonSchema",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Function (next runnable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function (next runnable)": {
      "main": [
        [
          {
            "node": "HTTP (OpenAI nano)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (OpenAI nano)": {
      "main": [
        [
          {
            "node": "JSON Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}